In [8]:
path = "../result.pt"

In [9]:
import torch

print(path)
with open(path, "rb") as file:
    results = torch.load(file)
print(results.metrics)

../result.pt
transpyle [WARNING] C unavailable
transpyle [WARNING] Fortran unavailable
{1: {'accuracy': 0.07216494845360824, 'bleu': 0.6803214863280362}, 5: {'accuracy': 0.07216494845360824, 'bleu': 0.7698737479807368}, 10: {'accuracy': 0.08247422680412371, 'bleu': 0.8013163322436769}}

In [31]:
import pandas as pd
df = pd.DataFrame(columns=["id", "text_query", "ground_truth", "top1", "bleu"])
for result in results.results:
    df = df.append(pd.Series([result.sample["supervision@id"],
                              result.sample["input@text_query"],
                              result.sample["supervision@ground_truth"],
                              result.candidates[0],
                              result.metrics[1]["bleu"]],
                             index=df.columns, name=result.sample["supervision@id"]))

In [38]:
df[50:70]

,id,text_query,ground_truth,top1,bleu
50,50,"whether `name` is equal to ""John""",\n(name == 'John')\n,\n('whether' is 'to')\n,0.816497
51,51,whether either `x` or `y` is true,\n(x or y)\n,\n('whether' != 'y')\n,0.740083
52,52,whether set of `x` contains `name`,\n(name in x)\n,\n('whether' != 'name')\n,0.740083
53,53,"whehter `name` is either ""John"" or ""Rick""","\n(name in set(['John', 'Rick']))\n",\n('whehter' is 'either')\n,0.415138
54,54,"call `f` if `x` is met, call `g` if `y` is met...",\nif x:\n f()\nelif y:\n g()\nelse:\n ...,\nif ('x' is 'met'):\n del []['call']\n,0.716233
56,56,whether `x` equal `y` as instance,\n(x is y)\n,\n('whether' == 'instance')\n,0.668740
55,55,"print ""foo"" if `x` is 2, otherwise print ""bar""",\nif (x == 2):\n print('foo')\nelse:\n p...,\nif ('x' is 2):\n print('foo')\nelse:\n ...,0.965663
57,57,`x` is not met,\n(not x)\n,\n('x' is 'met')\n,0.759836
59,59,repeat 5 times,\nfor i in range(5):\n pass\n,\n('repeat' ** 5)\n,0.690591
58,58,print each element of `primes`,for prime inprimes:\n print(prime),\nwhile []['primes']:\n print('')\n,0.731110
60,60,"Let `prime` be an each element of `primes`, pr...",for prime inprimes:\n print(prime),\nwhile True:\n print('be')\n,0.816497
61,61,"Let `x` be an each integer between 3 and 5, pr...","\nfor x in range(3, 6):\n print(x)\n",\nwhile ('between' != 3):\n between('be')\n,0.782542
62,62,"Let `x` be an each integer less than 5, print `x`",\nfor x in range(5):\n print(x)\n,\nwhile ('less' != 5):\n print('an')\n,0.813288
64,64,call `f` whle `x` is met,\nwhile x:\n f()\n,\n('call' != 'x')\n,0.740083
63,63,Let `x` be an each integer between 3 and 8 ski...,"\nfor x in range(3, 8, 2):\n print(x)\n",\nwhile ('between' != 3):\n between('be')\n,0.782542
66,66,skip the procedure if `x` is even,\nif ((x % 2) == 0):\n continue\n,\nif ('x' is 'even'):\n skip('procedure')\n,0.801055
65,65,finish the loop if `count` is greater or equal...,\nif (count >= 5):\n break\n,\nif ('count' is 'finish'):\n finish('loop')\n,0.736428
68,68,"define `my_function`. The function prints ""Hello""",\n\ndef my_function():\n print('Hello')\n,\n('define' ** 'function')\n,0.719591
69,69,define `sum_two_numbers`. The function gets `a...,"\n\ndef sum_two_number(a, b):\n return (a +...",\n('define' != 'sum_two_numbers')\n,0.448270
70,70,set `spam` as1,\nspan = 1\n,\n('set' ** 'spam')\n,0.000000